@import "tailwindcss";
/* @import "tw-animate-css"; */
@custom-variant dark (&:is(.dark *));

@layer base {
  :root {
    --font-sans: "Quicksand", sans-serif;
  }

  body {
    @apply leading-normal text-base;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-[#a47b67];
  }
  button,
  a {
    @apply cursor-pointer;
  }
  li {
    @apply cursor-pointer;
  }
  .section-container {
    @apply w-full md:w-[90%] px-[15px] md:mx-[15px];
  }
}

@layer utilities {
  #topbar {
    @apply bg-[#f0e2d0] text-base py-2.5 text-[#795444];
  }
  .container {
    @apply text-[13px];
  }

  .nav {
    @apply flex justify-center items-center;

    a {
      @apply uppercase font-bold mr-2.5;
    }
  }
  .clearanceSale {
    @apply text-[12px] font-extralight text-start text-black text-nowrap block px-[18px] py-[9px];
  }
  .clearanceSale:hover {
    @apply text-[#a47b67] pl-[22px];
  }

  /* Next và Prev */
  .slick-prev {
    @apply !left-2 z-20;
  }

  .slick-next {
    @apply !right-2 z-20;
  }

  .slider-container .slick-prev,
  .slider-container .slick-next {
    @apply opacity-0 transform transition-opacity duration-300;
  }

  .slider-container:hover .slick-prev,
  .slider-container:hover .slick-next {
    @apply opacity-100;
  }

  .slick-prev:before,
  .slick-next:before {
    @apply !text-2xl;
  }

  /*  */

  /* react-slick chia width → KHÔNG cộng thêm padding/margin */
  .slick-track {
    display: flex;
    gap: 20px; /* khoảng cách giữa sản phẩm */
  }

  .slick-slide {
    height: auto;
  }

  /* Card bên trong */
  .product-card {
    width: 100%;
  }

 .productList .slick-prev:before,
.productList .slick-next:before {
  content: none !important;
}
}
