@import "tailwindcss";
/* @import "tw-animate-css"; */
@custom-variant dark (&:is(.dark *));

@layer base {
  :root {
    --font-sans: "Quicksand", sans-serif;
  }

  body {
    @apply leading-normal text-base overflow-hidden;
  }
  button,
  a {
    @apply cursor-pointer;
  }
  li {
    @apply cursor-pointer;
  }
}

@layer utilities {
  #topbar {
    @apply bg-[#f0e2d0] text-base py-2.5 text-[#795444];
  }
  .container {
    @apply text-[13px];
  }

  .nav {
    @apply flex justify-center items-center;

    a {
      @apply uppercase font-bold mr-2.5;
    }
  }
  .clearanceSale {
    @apply text-[12px] font-extralight text-start text-black text-nowrap block px-[18px] py-[9px];
  }
  .clearanceSale:hover {
    @apply text-[#a47b67] pl-[22px];
  }
}
