@import "tailwindcss";
@import "tw-animate-css";
@custom-variant dark (&:is(.dark *));


@layer base {
  :root {
    --font-sans: "Quicksand", sans-serif;
  }

  body {
    @apply leading-normal text-base overflow-hidden;
  }
}

@layer utilities {
  #topbar {
    @apply bg-[#f0e2d0] text-base py-2.5 text-[#795444];
  }
  .container {
    @apply text-[13px] ;
  }
}
