@import "tailwindcss";
/* @import "tw-animate-css"; */
@custom-variant dark (&:is(.dark *));

@layer base {
  :root {
    --font-sans: "Quicksand", sans-serif;
  }

  body {
    @apply leading-normal text-base;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-[#a47b67];
  }
  button,
  a {
    @apply cursor-pointer;
  }
  li {
    @apply cursor-pointer;
  }
  .section-container {
    @apply w-full md:w-[100%] px-[15px];
  }
}

@layer utilities {
  #topbar {
    @apply bg-[#f0e2d0] text-base py-2.5 text-[#795444];
  }
  .container {
    @apply text-[13px];
  }

  .nav {
    @apply flex justify-center items-center;

    a {
      @apply uppercase font-bold mr-2.5;
    }
  }
  .clearanceSale {
    @apply text-[12px] font-extralight text-start text-black text-nowrap block px-[18px] py-[9px];
  }
  .clearanceSale:hover {
    @apply text-[#a47b67] pl-[22px];
  }

  /* Next và Prev */
  .slick-prev {
    @apply !left-2 z-20;
  }

  .slick-next {
    @apply !right-2 z-20;
  }

  .slider-container .slick-prev,
  .slider-container .slick-next {
    @apply opacity-0 transform transition-opacity duration-300;
  }

  .slider-container:hover .slick-prev,
  .slider-container:hover .slick-next {
    @apply opacity-100;
  }

  .slick-prev:before,
  .slick-next:before {
    @apply !text-2xl;
  }

  /*  */

  /* react-slick chia width → KHÔNG cộng thêm padding/margin */
  .slick-track {
    display: flex;
    gap: 20px; /* khoảng cách giữa sản phẩm */
  }

  .slick-slide {
    height: auto;
  }

  /* Card bên trong */
  .product-card {
    width: 100%;
  }

  .productList .slick-prev:before,
  .productList .slick-next:before {
    content: none !important;
  }

  /* Footer */
  .footerTitle h4 {
    @apply text-white text-[20px] capitalize  tracking-[0.4px] leading-0.5 mb-6;
  }
  .footerContent p {
    @apply text-[#9f9f9f]  text-[14px] leading-[21px];
  }

  /* quantity-area */
  .quantity-area {
    @apply flex items-center;
  }
  .quantity-area input.qty-btn {
    background: #fff;
    border: 1px solid #e1e1e1;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    outline: none;
    height: 49px;
    width: 32px;
    text-align: center;
    border-radius: 0;
    font-size: 20px;
    color: black;
  }
  input#quantity_quickview {
    background: #fff;
    font-weight: 600;
    height: 49px;
    padding: 0;
    text-align: center;
    width: 70px;
    border: 1px solid #e1e1e1;
    border-left: none;
    border-right: none;
    border-radius: 0;
    -webkit-appearance: none;
    font-size: 20px;
    color: black;
    outline: none;
  }
  .btn {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}


/* 3. Border Reveal */
.btn-border-reveal {
  background-color: transparent;
  color: #94292a;
  border: 1px solid #94292a;
  position: relative;
  width:100%;
}

.btn-border-reveal::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #94292a;
  transition: width 0.4s ease;
  z-index: -1;
}

.btn-border-reveal:hover::after {
  width: 100%;
}

.btn-border-reveal:hover {
  color: white;
}
.size-wrapper {
  display: flex;
  gap: 14px;
  align-items: center;
}

/* Ẩn radio gốc */
.size-wrapper input[type="radio"] {
  display: none;
}

/* Label = UI: tạo ô bằng thằng label */
.size-wrapper label {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  font-size: 14px;
  /* color: #999; */ /*Thằng nào hết size hoặc không có size này thì mới dùng màu xám*/
}

/* Vòng tròn */
.size-wrapper label::before {
  content: "";
  width: 18px;
  height: 18px;
  border: 1.5px solid #ccc;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

/* Khi được chọn */
.size-wrapper input[type="radio"]:checked + label {
  color: #000;
  font-weight: 600;
}

/* Vòng tròn khi chọn */
.size-wrapper input[type="radio"]:checked + label::before {
  background: #000;
}


}
